@model TortasModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar Pastel
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Tortas" method="post">
            <input asp-for="idTortas" type="hidden" class="form-control">
            <div class="mb-3">
                <label class="form-label">Marca</label>
                <input asp-for="idMarca" type="number" class="form-control">
                <span asp-validation-for="idMarca" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre del Pastel</label>
                <input asp-for="nombreT" type="text" class="form-control">
                <span asp-validation-for="nombreT" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion del Pastel</label>
                <input asp-for="descripcionT" type="text" class="form-control">
                <span asp-validation-for="descripcionT" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Costo del Pastel</label>
                <input asp-for="costoT" type="number" class="form-control">
                <span asp-validation-for="costoT" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha de Creacion</label>
                <input asp-for="fechaCreacionT" type="date" class="form-control">
                <span asp-validation-for="fechaCreacionT" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha de Vencimineto</label>
                <input asp-for="fechaVencimi" type="date" class="form-control">
                <span asp-validation-for="fechaVencimi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Stock Disponible</label>
                <input asp-for="stockT" type="number" class="form-control">
                <span asp-validation-for="stockT" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Imagen</label>
                <input asp-for="imagenT" type="text" class="form-control">
                <span asp-validation-for="imagenT" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-download-fill"></i>Guardar</button>
            <a asp-action="Listar" asp-controller="Tortas" class="btn btn-warning"><i class="bi bi-arrow-left"></i>Volver a la lista</a>
        </form>
    </div>
</div>



