@model List<TortasModel>
@{
    ViewData["Title"] = "Ver_Pasteles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="contenedor">
    <div class="contenedor-items">
        <!-- Contenedor de elementos -->
        @foreach (var item in Model)
        {
            <div class="item">
                <span class="titulo-item">@item.nombreT</span>
                <img src="@item.imagenT" class="img-item"/>
                <span class="precio-item">S/. @item.costoT</span>
                <button class="boton-item">Agregar al carrito</button>
            </div>
        }
    </div>
    <!-- Carrito de Compras -->
    <div class="carrito" id="carrito">
        <div class="header-carrito">
            <h2>Tu Compras</h2>
        </div>
        <div class="carrito-items">
        </div>
        <div class="carrito-total">
            <div class="fila">
                <strong>Tu Total</strong>
                <span class="carrito-precio-total">
                    $120.000,00
                </span>
            </div>
            <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
        </div>
    </div>
</section>

